.example-container {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  height: 300px;
  position: relative;
  margin: 20px;
  z-index: 1;
  padding: 5px;
  display: flex;
}

.example-resizable-container {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  height: 300px;
  width: 500px;
  position: relative;
  margin: 20px;
  z-index: 1;
  padding: 5px;
  display: flex;
  min-width: 230px;
  max-width: 850px;
  resize: horizontal;
  overflow: auto;
}

#example-8.example-resizable-container {
  min-width: 230px;
  max-width: 600px;
}

.example-container .item,
.example-resizable-container .item {
  border-radius: 7px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  border: 0.5px solid black;
  padding: 18px;
  background-color: var(--warm-gray);
  margin: 1px;
}

.vl {
  height: 477px;
  width: 0;
  transform: translate(262px, -402px) rotate(90deg);
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease;
}

.vl::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: 2px solid black;
  height: 100%;
}

.vl span {
  position: absolute;
  color: white;
  top: 75%;
  left: 50%;
  transform: translate(-60%, -93px) rotate(-90deg);
  white-space: nowrap;
}

.example-component {
  height: 315px;
}

.change-radio-container {
  color: white;
  display: flex;
  gap: 15px;
}

.radio-interaction-container {
  margin-left: 13px;
}

.direction-column,
.direction-column-reverse {
  height: 288px;
  transform: translate(262px, -310px) rotate(0deg);
}

.editor-container {
  padding: 0.5rem;
  width: 570px;
  height: 198px;
  border-radius: 20px;
  background: var(--dark-blue-1);
}

.arrow {
  border: solid var(--light-green);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: translate(-4px, -14px) rotate(223deg);
}

.direction-row-reverse>i {
  transform: translate(-4px, 461px) rotate(43deg);
}

.direction-column>i {
  transform: translate(-4px, 268px) rotate(45deg);
}

.dropdown-interaction-component {
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0px 20px;
}

.number-interaction-component,
.toggle-switch {
  text-align: center;
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 3px;
  margin: 0px 23px;
}

.interactive-component-container.bigger {
  height: 430px;
  width: 630px;
}

.usage-example-container.smaller-center {
  position: relative;
  left: 335px;
  width: 532px;
}

.usage-example-container.bigger-center {
  position: relative;
  left: 130px;
  width: 60rem;
}

.usage-example-container.bigger-center .interactive-component-container {
  width: 100%;
  height: 100%;
}

.form-range {
  width: 65%;
}

.code-editor.bigger>.editor-container {
  height: 18rem;
}

.align-row-inputs {
  display: flex;
  margin: 12px;
}

.vl::before {
  border-left: 3px solid var(--light-green);
}

::-webkit-resizer {
  border: dashed yellow;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.radio-button-label {
  display: flex;
  gap: 2px;
}

.code-editor.narrower .editor-container {
  width: 30rem;
}

.CodeMirror-vscrollbar {
  overflow-y: unset;
  overflow-x: unset;
}

.CodeMirror {
  height: 100%;
}