.tutorials-overview-panel {
  height: 8rem;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 45px;
  gap: 30px;
}

.circle-design {
  padding: 20px;
  background: var(--secondary-blue-2);
  position: absolute;
  border-radius: 57px;
  z-index: 0;
}

.intro-area.label {
  position: absolute;
  z-index: 2;
}

.circle-design.big {
  height: 7rem;
  width: 7rem;
  transform: translate(-17rem, 1rem);
}

.circle-design.small {
  height: 5rem;
  width: 5rem;
  transform: translate(19rem, -2px);
}

.select-tutorial {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  padding-bottom: 150px;
  padding-top: 40px;
  width: 85rem;
}

.tutorial-banner-image {
  width: 22rem;
  border-radius: 1rem;
  margin: 7px;
}

.tutorial-link:hover .open-tutorial-button {
  cursor: pointer;
  background-color: var(--secondary-blue);
  transform: translate(10rem, -2rem) scale(1.2);

}

.play-button {
  border-top: 10px solid transparent;
  border-left: 22px solid #000000;
  border-bottom: 10px solid transparent;
  position: absolute;
  transform: translate(17px, 15px);
}

.open-tutorial-button {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: white;
  position: absolute;
  transform: translate(10rem, -2rem);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tutorial-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tutorial-banner-container {
  width: 25rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17rem;
  background-color: var(--dark-blue-3);
  padding: 10px;
}