.footer{
    /* position: fixed;
    bottom: 0;
    width: 100vw; */
    display: flex;
    justify-content: center;
    padding: 7px;
    box-shadow: 0 1px 3px 1px black;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
}
.footer-links{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}
.contact-form{
    color: #ffffff;
}
.footer-links>a:hover{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}