.footer{
    /* position: fixed;
    bottom: 0;
    width: 100vw; */
    display: flex;
    justify-content: center;
    padding: 7px;
    box-shadow: 0 1px 3px 1px black;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #CDD5DA;
}
.footer-links{
    display: flex;
    justify-content: space-around;
}