.user-info-inputs {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    gap: 40px;
}

.user-info-inputs .input {
    position: relative;
    position: relative;
    margin-bottom: 20px;
}

.input__field {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom-color 0.3s;
}

.input__label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #888;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.input__field:focus {
    outline: none;
    border-bottom-color: #007bff;
}
.input__field.username-invalid {
    outline: none;
    border-bottom-color: #ff0000;
}
.input__field.username-invalid+.input__label{
    color: #ff0000 !important;
}
.input__field.email-invalid {
    outline: none;
    border-bottom-color: #ff0000;
}
.input__field.email-invalid+.input__label{
    color: #ff0000 !important;
}

.input__field:focus+.input__label,
.input__field:not(:placeholder-shown)+.input__label {
    top: -9px;
    font-size: 14px;
    color: #007bff;
}

.profile-info-container {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 35.4rem;
    padding: 30px;
}