body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: radial-gradient(circle, rgba(77, 77, 235, 1) 31%, rgba(3, 0, 99, 1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --primary-blue: #006ec7ff;
  --light-blue-1: #e6eaedff;
  --warm-gray: #cfcbc8ff;
  --secondary-blue: #99c5e9ff;
  --secondary-blue-2: #669dc5ff;
  --dark-blue-1: #00375fff;
  --dark-blue-2: #00182aff;
  --dark-blue-3: #003154ff;
  --light-green: #97cf66ff;
  --light-red: #ec9898ff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
p,
h2 {
  color: white !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li,
.label {
  color: white;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 50px;
}

p.black-text {
  text-shadow: none;
}

.black-text {
  color: #000 !important;
}

.section {
  width: 1300px;
  border-radius: 40px;
  background-color: var(--primary-blue);
  padding: 50px 20px 50px 20px;
}

.usage-example-container {
  box-shadow: 3px 3px 0.4em #d6d6d6, -1em 0 0.4em black;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: var(--light-blue-1);
}

.usage-example-container.vertical {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.usage-example-container.horizontal {
  display: grid;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.code-editor-container {
  display: flex;
  gap: 5px;
}

.range-interaction-component {
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0px 20px;
}

.code-editor-container.vertical {
  flex-direction: column;
}

.container-goals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.heading-tutorial {
  color: #000;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading-tutorial-small {
  color: #03f;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.usage-example-container.center {
  position: relative;
  left: 130px;
  width: 60rem;
}

.note-container {
  background-color: var(--secondary-blue);
  border-radius: 5px;
  padding: 20px;
  margin: 0px 25px;
}

.note-container>p {
  margin-top: 5px;
  color: white;
  text-shadow: none;
}

.usage-example-container.bigger .interactive-component-container {
  width: 100%;
  height: 100%;
}

.intro-header {
  margin-top: 25px;
  height: 620px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
}

.intro-content {
  border-radius: 28px;
  background: rgb(255 255 255 / 70%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  max-width: 1140px;
  text-align: center;
  position: static;
}

.browser-supporting-container {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(0vb, -2vb);
}

.label {
  color: #fff;
}

.learning-material-container {
  width: 1300px;
  padding: 50px 20px 50px 20px;
}

.important-point {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  font-style: normal;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.learning-material-section {
  margin: 50px 0px;
}

p.subheading {
  margin: 25px 0px;
}

h5 {
  margin: 20px !important;
}

.blue-text {
  color: #03f !important;
}

.tutorial-content {
  display: grid;
  justify-content: center;
  background: white;
  padding: 22px 0px;
}

.property-description {
  margin: 20px;
}

.interactive-component-container {
  width: 529px;
  height: 400px;
  border-radius: 20px;
  background: var(--dark-blue-1);
}

.output-area-header, .quiz-interactive-task-question-header{
  height: 2.5rem;
  padding: 6px;
  padding-left: 16px;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  background: var(--dark-blue-2);
  color: white;
}

.output-area-iframe {
  width: 100%;
  height: 36rem;
  border: 7px solid var(--dark-blue-1);
  border-radius: 19px;
  background: white;
}
.task-editor-container{
  padding: 0.5rem;
  border-radius: 20px;
  background: var(--dark-blue-1);
  height: 100%;
}