.start-quiz-conatiner{
    border-radius: 50px;
    background: radial-gradient(circle, rgba(77,77,235,1) 31%, rgba(3,0,99,1) 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px;
}

.start-quiz-text{
    display: grid;
    justify-items: center;
}
.start-quiz-button button{
    position: relative;
    z-index: 2;
    padding: 20px;
    background: none;
    border: none;
    color: #000000;
}
.start-quiz-button button:hover{
    position: relative;
    z-index: 2;
    padding: 20px;
    background: none;
    border: none;
    color: #000000;
}
.start-quiz-button{
    cursor:pointer;
        position:relative;
        z-index: 1;
        padding:10px 20px;
        background:white;
        font-size:28px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
        &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid #fff;
            transition:all 1s;
            }
        &:after{
            top:-1px;
            left:-1px;
            border-top:5px solid black;
            border-left:5px solid black;
        }
        &:before{
            bottom:-1px;
            right:-1px;
            border-bottom:5px solid black;
            border-right:5px solid black;
        }
        &:hover{
            border-top-right-radius:0px;
        border-bottom-left-radius:0px;
            &:before,&:after{
                width:100%;
                height:100%;
            }
        }
    }