ul {
    list-style: none;
    padding: unset !important;
    margin: unset;
}

li {
    display: flex;
    padding: 14px;
    transition: all linear 0.3s;
}
li a{
    text-decoration-line: none;
}
.nav-menu-dropdown li:hover {
    background: rgb(188, 188, 189);
    cursor: pointer;
    border-radius: 20px;
}
.nav-menu-dropdown li:hover a {
   color:  rgb(81 123 236);
}
.tutorial-dropdown-menu {
    background: #CDD5DA;
    position: absolute;
    z-index: 2;
    margin-top: -8px;
    border-radius: 20px;
}